.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
}

.header_wrap {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-all;
  width: 100%;
  justify-content: center;
}
