.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}

.header_wrap {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-all;
  width: 100%;
  height: 100%;
  flex: 1;
  align-items: center;
}
