.chat_container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
}

.chat_content_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 80%;
  overflow-y: hidden;
}

.query_container_wrapper {
  width: 80%;
  min-height: 20%;
  max-height: 50vh;
  flex-shrink: 0;
}
