.chat_container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.chat_content_wrapper {
  flex: 1;
  width: 100%;
}

.query_container_wrapper {
  width: 90%;
  min-height: 25%;
  max-height: 50vh;
  flex-shrink: 0;
}
