.query_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

.query_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 10px;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
}

.query_area {
  resize: none;
  height: 90%;
  field-sizing: content;
  width: 98%;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #000080;
  font-size: 16px;
}

.query_send {
  border: none;
  height: 40px;
  width: 40px;
  margin-right: 2%;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  flex-shrink: 0;
}
