html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #87ceeb, #40e0d0, #00bfff, #1e90ff);
  background-attachment: fixed;
}

#root {
  height: 100%;
  flex: 1;
}

* {
  box-sizing: border-box;
}
